<!DOCTYPE html>
<html>
<head>
  <!--We need to get a work around as currently this library, is not supported in Google app Scripts-->
<script src="https://apis.google.com/js/api.js"></script>
<script>
  function authenticate() {
    return gapi.auth2.getAuthInstance()
        .signIn({scope: "https://www.googleapis.com/auth/webmasters https://www.googleapis.com/auth/webmasters.readonly"})
        .then(function() { console.log("Sign-in successful"); },
              function(err) { console.error("Error signing in", err); });
  }
  function loadClient() {
    return gapi.client.load("https://content.googleapis.com/discovery/v1/apis/webmasters/v3/rest")
        .then(function() { console.log("GAPI client loaded for API"); },
              function(err) { console.error("Error loading GAPI client for API", err); });
  }
  // Make sure the client is loaded and sign-in is complete before calling this method.
  function execute() {
    return gapi.client.webmasters.searchanalytics.query({
      "siteUrl": "WEBSITE_URL",
      "resource": {
        "startDate": "2017-01-01",
        "endDate": "2108-01-01"
        // "rowLimit":10
      }
    })
        .then(function(response) {

console.log(response);
              },
              function(err) { console.error("Execute error", err); });
  }
  gapi.load("client:auth2", function() {
    gapi.auth2.init({client_id:'YOUR CLIENT ID'});
  });
</script>
</head>
<body>
<button onclick="authenticate().then(loadClient)">authorize and load</button>
<button onclick="execute()">execute</button>
</body>
</html>

